@model Payroll25.Models.IdentitasAsistenModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Detail Asisten</h5>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>ID Asisten</th>
                <th>ID Tahun Akademik</th>
                <th>No Semester</th>
                <th>NPM</th>
                <th>ID Unit</th>
            </tr>
            <tr>
                <td>@Model.ID_ASISTEN</td>
                <td>@Model.ID_TAHUN_AKADEMIK</td>
                <td>@Model.NO_SEMESTER</td>
                <td>@Model.NPM</td>
                <td>@Model.ID_UNIT</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Index", "IdentitasAsisten")" class="btn btn-secondary">Back</a>
    </div>
</div>
