@model IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="container border p-3">
    @using (Html.BeginForm("Create", "IdentitasAsisten", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="control-label"></label>
            <input asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="form-control" />
            <span asp-validation-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentitasAsisten.NO_SEMESTER" class="control-label"></label>
            <input asp-for="IdentitasAsisten.NO_SEMESTER" class="form-control" />
            <span asp-validation-for="IdentitasAsisten.NO_SEMESTER" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentitasAsisten.NPM" class="control-label"></label>
            <input asp-for="IdentitasAsisten.NPM" class="form-control" />
            <span asp-validation-for="IdentitasAsisten.NPM" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdentitasAsisten.ID_UNIT" class="control-label"></label>
            <input asp-for="IdentitasAsisten.ID_UNIT" class="form-control" />
            <span asp-validation-for="IdentitasAsisten.ID_UNIT" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Asisten</th>
                <th>ID Tahun Akademik</th>
                <th>NPM</th>
                <th>NO SEMESTER</th>
                <th>ID UNIT</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var identitasAsisten in Model.IdentitasAsistenList)
            {
                <tr>
                    <td>@identitasAsisten.ID_ASISTEN</td>
                    <td>@identitasAsisten.ID_TAHUN_AKADEMIK</td>
                    <td>@identitasAsisten.NPM</td>
                    <td>@identitasAsisten.NO_SEMESTER</td>
                    <td>@identitasAsisten.ID_UNIT</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination-container"></div>
</div>







