@model IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <!-- Referensi ke DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>

    <h1 style="margin-bottom: 30px"><strong>Identitas Asisten</strong></h1>

    <div class="border border-5" style="padding: 10px">
        <h3>Tambah Identitas Asisten</h3>
    </div>

    <div class="border border-5" style="margin-bottom: 30px; padding: 10px">
        <div class="row">
            <div class="col-sm-6" style="margin-top: 20px;">
                @using (Html.BeginForm("Create", "IdentitasAsisten", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.NO_SEMESTER" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.NO_SEMESTER" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.NO_SEMESTER" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.NPM" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.NPM" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.NPM" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.ID_UNIT" class="control-label"></label>

                        <select class="form-control form-control-lg" id="selectUnit" asp-for="IdentitasAsisten.ID_UNIT">
                            <option value="">-- Pilih Unit --</option>
                            @foreach (var unit in Model.UnitsList)
                            {
                                <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                            }
                        </select>

                        <span asp-validation-for="IdentitasAsisten.ID_UNIT" class="text-danger"></span>
                    </div>


                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.NO_REKENING" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.NO_REKENING" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.NO_REKENING" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.NAMA_REKENING" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.NAMA_REKENING" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.NAMA_REKENING" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.NAMA_BANK" class="control-label"></label>
                        <input asp-for="IdentitasAsisten.NAMA_BANK" class="form-control" />
                        <span asp-validation-for="IdentitasAsisten.NAMA_BANK" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <label asp-for="IdentitasAsisten.ID_JENIS_ASISTEN" class="control-label"></label>

                        <select class="form-control form-control-lg" asp-for="IdentitasAsisten.ID_JENIS_ASISTEN">
                            <option value="">-- Pilih Jenis Asisten --</option>
                            @foreach (var jenis in Model.JenisAsistenList)
                            {
                                <option value="@jenis.ID_JENIS_ASISTEN">@jenis.JENIS</option>
                            }
                        </select>

                        <span asp-validation-for="IdentitasAsisten.ID_JENIS_ASISTEN" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

    <table class="table" id="dataTable">
        <thead style="background-color: #8FA0C7">
            <tr>
                <th>ID Asisten</th>
                <th>ID Tahun Akademik</th>
                <th>NPM</th>
                <th>NAMA_MHS</th>
                <th>NO SEMESTER</th>
                <th>ID UNIT</th>
                <th>NAMA UNIT</th>
                <th>NO REKENING</th>
                <th>NAMA REKENING</th>
                <th>NAMA BANK</th>
                <th>JENIS ASISTEN</th>
                <th>BUTTON</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var identitasAsisten in Model.IdentitasAsistenList)
            {
                <tr>
                    <td>@identitasAsisten.ID_ASISTEN</td>
                    <td>@identitasAsisten.ID_TAHUN_AKADEMIK</td>
                    <td>@identitasAsisten.NPM</td>
                    <td>@identitasAsisten.NAMA_MHS</td>
                    <td>@identitasAsisten.NO_SEMESTER</td>
                    <td>@identitasAsisten.ID_UNIT</td>
                    <td>@identitasAsisten.NAMA_UNIT</td>
                    <td>@identitasAsisten.NO_REKENING</td>
                    <td>@identitasAsisten.NAMA_REKENING</td>
                    <td>@identitasAsisten.NAMA_BANK</td>
                    <td>@identitasAsisten.JENIS</td>
                    <td>
                        <div class="d-flex">
                            <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#editModal-@(identitasAsisten.ID_ASISTEN)" id="submit">Edit</button>
                            <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#deleteModal-@(identitasAsisten.ID_ASISTEN)" id="submit">Delete</button>
                            @*<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#detailModal-@(identitasAsisten.ID_ASISTEN)" id="submit">Detail</button>*@
                        </div>
                    </td>
                </tr>

                <!-- Modal Edit -->
                <div class="modal fade" id="editModal-@(identitasAsisten.ID_ASISTEN)" tabindex="-1" role="dialog" aria-labelledby="editModalLabel-@(identitasAsisten.ID_ASISTEN)" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel-@(identitasAsisten.ID_ASISTEN)">Edit Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("EditDetails", "IdentitasAsisten", new { ID_Asisten = identitasAsisten.ID_ASISTEN }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="form-control" value="@identitasAsisten.ID_TAHUN_AKADEMIK" />
                                        <span asp-validation-for="IdentitasAsisten.ID_TAHUN_AKADEMIK" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.NO_SEMESTER" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.NO_SEMESTER" class="form-control" value="@identitasAsisten.NO_SEMESTER" />
                                        <span asp-validation-for="IdentitasAsisten.NO_SEMESTER" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.NPM" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.NPM" class="form-control" value="@identitasAsisten.NPM" />
                                        <span asp-validation-for="IdentitasAsisten.NPM" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.ID_UNIT" class="control-label"></label>

                                        <select class="form-control form-control-lg" id="selectUnit" asp-for="IdentitasAsisten.ID_UNIT">
                                            @for (int i = 0; i < Model.UnitsList.Count; i++)
                                            {
                                                var unit = Model.UnitsList[i];
                                                if (identitasAsisten.ID_UNIT == unit.ID_UNIT)
                                                {
                                                    <option value="@unit.ID_UNIT" selected>@unit.NAMA_UNIT</option>
                                                }
                                                else
                                                {
                                                    <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                                                }
                                            }
                                        </select>

                                        <span asp-validation-for="IdentitasAsisten.ID_UNIT" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.NO_REKENING" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.NO_REKENING" class="form-control" value="@identitasAsisten.NO_REKENING" />
                                        <span asp-validation-for="IdentitasAsisten.NO_REKENING" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.NAMA_REKENING" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.NAMA_REKENING" class="form-control" value="@identitasAsisten.NAMA_REKENING" />
                                        <span asp-validation-for="IdentitasAsisten.NAMA_REKENING" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.NAMA_BANK" class="control-label"></label>
                                        <input asp-for="IdentitasAsisten.NAMA_BANK" class="form-control" value="@identitasAsisten.NAMA_BANK" />
                                        <span asp-validation-for="IdentitasAsisten.NAMA_BANK" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="IdentitasAsisten.ID_JENIS_ASISTEN" class="control-label"></label>

                                        <select class="form-control form-control-lg" asp-for="IdentitasAsisten.ID_JENIS_ASISTEN">
                                            @foreach (var jenis in Model.JenisAsistenList)
                                            {
                                                if (Model.IdentitasAsisten.ID_JENIS_ASISTEN == jenis.ID_JENIS_ASISTEN)
                                                {
                                                    <option value="@jenis.ID_JENIS_ASISTEN" selected>@jenis.JENIS</option>
                                                }
                                                else
                                                {
                                                    <option value="@jenis.ID_JENIS_ASISTEN">@jenis.JENIS</option>
                                                }
                                            }
                                        </select>

                                        <span asp-validation-for="IdentitasAsisten.ID_JENIS_ASISTEN" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Delete -->
                <div class="modal fade" id="deleteModal-@(identitasAsisten.ID_ASISTEN)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@(identitasAsisten.ID_ASISTEN)" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel-@(identitasAsisten.ID_ASISTEN)">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!-- Data passed is displayed in this part of the modal body -->
                                <input type="text" placeholder="NPM" name="NPM" class="form-control" id="NPM" value="@identitasAsisten.NPM" hidden>
                                <p>Apakah Anda Yakin akan menghapus data Asisten @identitasAsisten.NPM ini?</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form asp-action="Delete" asp-route-ID_Asisten="@identitasAsisten.ID_ASISTEN" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>


    <!-- Modal Details -->
    @foreach (var item in Model.IdentitasAsistenList)
    {
        @Html.AntiForgeryToken()
        <form asp-action="GetDetails" asp-controller="IdentitasAsisten" method="get">
            <div class="modal fade" id="detailModal-@(item.ID_ASISTEN)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h6 id="modal_body_@(item.ID_ASISTEN)"></h6>
                            <div class="form-group">
                                <label>ID Asisten</label>
                                <span class="form-control">@item.ID_ASISTEN</span>
                            </div>
                            <div class="form-group">
                                <label>ID Tahun Akademik</label>
                                <span class="form-control">@item.ID_TAHUN_AKADEMIK</span>
                            </div>
                            <div class="form-group">
                                <label>NO Semester</label>
                                <span class="form-control">@item.NO_SEMESTER</span>
                            </div>
                            <div class="form-group">
                                <label>NPM</label>
                                <span class="form-control">@item.NPM</span>
                            </div>
                            <div class="form-group">
                                <label>ID Unit</label>
                                <span class="form-control">@item.ID_UNIT</span>
                            </div>
                            <div class="form-group">
                                <label>NO Rekening</label>
                                <span class="form-control">@item.NO_REKENING</span>
                            </div>
                            <div class="form-group">
                                <label>Nama Rekening</label>
                                <span class="form-control">@item.NAMA_REKENING</span>
                            </div>
                            <div class="form-group">
                                <label>Nama BANK</label>
                                <span class="form-control">@item.NAMA_BANK</span>
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm w-100" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
  
</body> 

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true, // Menampilkan pagination
                "lengthMenu": [10, 25, 50, 100], // Opsi jumlah data per halaman
                "pageLength": 10, // Jumlah data yang ditampilkan per halaman
                "scrollY": 600, // Tinggi scrollable tbody
                "scrollX": true, // Membuat thead menjadi scrollable secara horizontal
                "scrollCollapse": true, // Mengatur tinggi tabel tetap sama saat tabel kosong
                "order": [[0, "desc"]] // Mengurutkan data berdasarkan kolom pertama secara ascending
            });
        });

        $(document).ready(function () {
            $('#selectUnit').select2({
                width: 'resolve'  
            });
        });

    </script>
}



