@model IEnumerable<Payroll25.Models.IdentitasDosenModel>

@{
    Layout = "_Layout";
}

<head>
    <!-- Referensi ke jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Referensi ke DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1 style="margin-bottom: 30px"><strong>Identitas Dosen</strong></h1>

    <div class="border border-5" style="padding: 10px">
        <h3>Tambah Identitas Dosen</h3>
    </div>

    <div class="border border-5" style="margin-bottom: 30px; padding: 10px">
        <div class="row">
            <div class="col-sm-6" style="margin-top: 20px;">
                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">NPM / NPP:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">NAMA:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">NAMA LENGKAP:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">TGL_LAHIR:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">JNS_KEL:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">AGAMA:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">ID_UNIT:</label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                @*<div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">ID_UNIT_AKADEMIK:</label>
                    <p class="form-control" style="margin-right: 130px;margin-top: 5px;">EXAMPLE</p>
                </div>*@
            </div>

            <div class="col-sm-6" style="margin-top: 20px;">
                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">ID_REF GOLONGAN: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    @*//REMINDER ini ID_REF_JBTN_AKADEMIK*@
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">JBTN AKADEMIK: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">NO_HP: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">NPWP: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">ALAMAT: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                <div class="form-group d-flex">
                    <label class="font-weight-bold" style="width: 200px;padding-left: 20px;padding-top: 10px;">USERNAME: </label>
                    <input type="text" class="form-control" style="margin-right: 130px;margin-top: 5px;"></input>
                </div>

                
            </div>
        </div>
        <div class="text-center" style="margin-top: 30px;margin-right: 20px;margin-bottom: 20px;">
            <button type="button" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-primary">Add</button>
        </div>
    </div>


    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

    <div class="">
        <table id="data-table" class="table">
            <thead style="background-color: #8FA0C7">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NPP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAMA_LENGKAP_GELAR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TGL_LAHIR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JNS_KEL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AGAMA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_UNIT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_UNIT_AKADEMIK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_REF_GOLONGAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_REF_JBTN_AKADEMIK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NO_TELPON_HP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NPWP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ALAMAT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USERNAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PASSWORD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PASSWORD_RIPEM)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NPP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAMA_LENGKAP_GELAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TGL_LAHIR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JNS_KEL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AGAMA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_UNIT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_UNIT_AKADEMIK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_REF_GOLONGAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_REF_JBTN_AKADEMIK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NO_TELPON_HP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NPWP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ALAMAT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.USERNAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PASSWORD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PASSWORD_RIPEM)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                        <td>
                            <div class="d-flex">
                                <form asp-action="Edit" asp-route-id="item.PrimaryKey" method="get">
                                    <button type="submit" class="btn btn-success mr-2">Edit</button>
                                </form>
                                <form asp-action="Delete" asp-route-id="item.PrimaryKey" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            "paging": true, // Menampilkan pagination
            "lengthMenu": [10, 25, 50, 100], // Opsi jumlah data per halaman
            "pageLength": 10, // Jumlah data yang ditampilkan per halaman
            "scrollY": 400, // Tinggi scrollable tbody
            "scrollX": true, // Membuat thead menjadi scrollable secara horizontal
            "scrollCollapse": true, // Mengatur tinggi tabel tetap sama saat tabel kosong
            "order": [[0, "asc"]] // Mengurutkan data berdasarkan kolom pertama secara ascending
        });
    });
</script>






