@model HonorPendadaranModel.HonorPendadaranViewModel

@section styles {
    <style>
        div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
            text-align: left;
        }

        table.table-bordered thead > tr > th {
            border: 1px solid black;
            background-color: #8fa0c7;
        }

        table.table-bordered tbody > tr > td {
            border: 1px solid;
            border-top: 0px;
        }

        .dataTables_length select {
            font-size: 15px;
        }

        table.table-bordered tbody > tr > td, table.table-bordered tbody > tr > td > input {
            vertical-align: middle;
            text-align: center;
            align-content: center;
            align-items: center;
        }
    </style>
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Honor Pendadaran</title>
    <!-- Referensi ke DataTables dan Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Honor Pendadaran</h1>
        
        <!-- Insert data-->
        <div class="border border-5" style="margin-bottom: 30px; padding: 10px">
            <h3>Tambah Honor Pendadaran</h3>
            <div class="row">
                <div class="col-sm-6" style="margin-top: 20px;">
                    @using (Html.BeginForm("Create", "HonorPendadaran", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-sm-6 mx-auto">
                                <label class="control-label" style="margin-left: 20px;">Tahun</label>
                                <select class="form-control" id="tahunInput" style="margin-left: 20px;">
                                    @{
                                        var currentYear = DateTime.Now.Year;
                                        for (var Year = currentYear; Year >= 2019; Year--)
                                        {
                                            <option value="@Year">@Year</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-sm-6 mx-auto">
                                <label asp-for="HonorPendadaran.ID_BULAN_GAJI" class="control-label" style="margin-left: 20px;"></label>
                                <select asp-for="HonorPendadaran.ID_BULAN_GAJI" class="form-control" id="bulanGajiDropdown" style="margin-left: 20px;">
                                    <option value="">Pilih ID Bulan Gaji</option>
                                    @foreach (var bulanGaji in Model.HonorPendadaranList)
                                    {
                                        <option value="@bulanGaji.ID_BULAN_GAJI">@bulanGaji.ID_BULAN_GAJI</option>
                                    }
                                </select>
                                <span asp-validation-for="HonorPendadaran.ID_BULAN_GAJI" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group" style="width: 670px; padding-left: 20px; padding-top: 10px;">
                            <label asp-for="HonorPendadaran.NPP" class="control-label"></label>
                            <input asp-for="HonorPendadaran.NPP" class="form-control" id="nppInput" />
                            <span asp-validation-for="HonorPendadaran.NPP" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                            <label asp-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="control-label"></label>
                            <select asp-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="form-control">
                                <option value="">Pilih Komponen Gaji</option>
                                <option value="76">Honorarium Internasional Asisten Ahli</option>
                            </select>
                            <span asp-validation-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                            <label asp-for="HonorPendadaran.JUMLAH" class="control-label"></label>
                            <input asp-for="HonorPendadaran.JUMLAH" class="form-control" />
                            <span asp-validation-for="HonorPendadaran.JUMLAH" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                            <label asp-for="HonorPendadaran.DESKRIPSI" class="control-label"></label>
                            <input asp-for="HonorPendadaran.DESKRIPSI" class="form-control" />
                            <span asp-validation-for="HonorPendadaran.DESKRIPSI" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="width: 670px;padding-left: 20px;padding-top: 10px;">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <button type="button" class="btn btn-primary" onclick="getCariData()">Search</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Tabel data  -->
        <table class="table" id="dataTable">

            <thead style="background-color: #8FA0C7">
                <tr>
                    <th>ID VAKASI</th>
                    <th>NPP</th>
                    <th>NAMA</th>
                    <th>KEGIATAN</th>
                    <th>JUMLAH MAHASISWA</th>
                    <th>TGL BUAT</th>
                    <th>BUTTON</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var honorPendadaran in Model.HonorPendadaranList)
                {
                    <tr>

                        <td>@honorPendadaran.ID_VAKASI</td>
                        <td>@honorPendadaran.NPP</td>
                        <td>@honorPendadaran.NAMA</td>
                        <td>@honorPendadaran.KEGIATAN</td>
                        <td>@honorPendadaran.Jml_Mhs</td>
                        <td>@honorPendadaran.Tgl_buat</td>

                        <td>
                            <div class="d-flex">
                                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#editModal-@(honorPendadaran.ID_VAKASI)" id="submit">Edit</button>
                                <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#deleteModal-@(honorPendadaran.ID_VAKASI)" id="submit">Delete</button>
                                @*<button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#detailModal-@(tunjanganPengabdian.ID_VAKASI)" id="submit">Detail</button>*@
                            </div>
                        </td>
                    </tr>

                    <!-- Modal Edit/Update bisa ditambahkan di sini -->
                    <div class="modal fade" id="editModal-@(honorPendadaran.ID_VAKASI)" tabindex="-1" role="dialog" aria-labelledby="editModalLabel-@(honorPendadaran.ID_VAKASI)" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel-@(honorPendadaran.ID_VAKASI)">Edit Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    @using (Html.BeginForm("EditDetails", "HonorPendadaran", new { ID_Vakasi = honorPendadaran.ID_VAKASI }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <label asp-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="control-label"></label>
                                        <select asp-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="form-control">
                                            <option value="76">Koreksi Ujian</option>
                                        </select>
                                        <span asp-validation-for="HonorPendadaran.ID_KOMPONEN_GAJI" class="text-danger"></span>

                                        <div class="form-group">
                                            <label asp-for="HonorPendadaran.ID_BULAN_GAJI" class="control-label"></label>
                                            <input asp-for="HonorPendadaran.ID_BULAN_GAJI" class="form-control" value="@honorPendadaran.ID_BULAN_GAJI" />
                                            <span asp-validation-for="HonorPendadaran.ID_BULAN_GAJI" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="HonorPendadaran.JUMLAH" class="control-label"></label>
                                            <input asp-for="HonorPendadaran.JUMLAH" class="form-control" value="@honorPendadaran.Jml_Mhs" />
                                            <span asp-validation-for="HonorPendadaran.JUMLAH" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="HonorPendadaran.DESKRIPSI" class="control-label"></label>
                                            <input asp-for="HonorPendadaran.DESKRIPSI" class="form-control" value="@honorPendadaran.DESKRIPSI" />
                                            <span asp-validation-for="HonorPendadaran.DESKRIPSI" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Modal Delete bisa ditambahkan di sini -->
                    <div class="modal fade" id="deleteModal-@(honorPendadaran.ID_VAKASI)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@(honorPendadaran.ID_VAKASI)" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-@(honorPendadaran.ID_VAKASI)">Delete Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <!-- Data passed is displayed in this part of the modal body -->
                                    <input type="text" placeholder="NPP" name="NPP" class="form-control" id="NPP" value="@honorPendadaran.NPP" hidden>
                                    <p>Apakah Anda Yakin akan menghapus data Vakasi Tunjangan Pengabdian dengan @honorPendadaran.NPP ini?</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form asp-action="Delete" asp-route-ID_Vakasi="@honorPendadaran.ID_VAKASI" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </tbody>

        </table>


    </div>
</body>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#dataTable').DataTable();
            $('#showButton').click(function () {
                $('#searchForm').submit();
            });
        });

        //document.getElementById('showButton').addEventListener('click', function () {
        //    var tbody = document.getElementById('dataTable').querySelector('tbody');
        //    if (tbody.style.display === 'none') {
        //        tbody.style.display = 'table-row-group';
        //    } else {
        //        tbody.style.display = 'none';
        //    }
        //});

        function getCariData() {
            var tahun = $("#tahunInput").val();

            $.get("/TunjanganPengabdian/GetBulanGajiDropdown", { tahun: tahun }, function (data) {
                var options = "<option value=''>Pilih ID Bulan Gaji</option>";
                var namaBulan = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
                for (var i = 0; i < data.length; i++) {
                    options += "<option value='" + data[i].id_bulan + "'>" + data[i].id_bulan + " - " + namaBulan[i] + "</option>";
                }
                $("#bulanGajiDropdown").html(options);
            });

        }

        $("#tahunInput").change(function () {
            getCariData();
        });

    </script>
}