@model KelolaTarifModel.KelolaTarifViewModel

@{
    int counter = 0;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kelola Tarif</title>
    <!-- Referensi ke DataTables dan Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .editable-cell:hover {
            cursor: pointer; /* Ubah penunjuk mouse menjadi tangan (pointer) saat dihover */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="my-4">Kelola Tarif</h1>

        <div class="row">
            <!-- Sub-container untuk Tambah -->
            

            <!-- Sub-container untuk Pencarian -->
            <div class="col-md-6 border border-5 p-3 mb-4 mt-3">

                <h3 style="padding-bottom: 15px;">
                    Pencarian
                </h3>

                <form id="searchForm" method="get" action="@Url.Action("Index", "KelolaTarif")">

                    <div>
                        <h3>Cari Berdasarkan NAMA</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="NAMAFilter" name="NAMAFilter" value="@Model.NAMAFilter" placeholder="Masukkan NAMA">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Cari</button>
                </form>

            </div>
        </div>

        <!-- Tabel data beban mengajar -->
        <table class="table mt-3" id="dataTable">
            <thead style="background-color: #8FA0C7">
                <tr>
                    <th>NO</th>
                    <th>ID_MST_TARIF_PAYROLL</th>
                    <th>ID_REF_JBTN_AKADEMIK</th>
                    <th>ID_REF_STRUKTURAL</th>
                    <th>ID_REF_GOLONGAN</th>
                    <th>ID_REF_FUNGSIONAL</th>
                    <th>ID_REF_JENJANG</th>
                    <th>NAMA_TARIF_PAYROLL</th>
                    <th>NOMINAL</th>
                    <th>JENIS</th>
                    <th>JENJANG_KELAS</th>
                    <th>ID_KOMPONEN_GAJI</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.KelolaTarifList != null)
                {
                    @foreach (var item in Model.KelolaTarifList)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@item.ID_MST_TARIF_PAYROLL</td>
                            <td>@item.ID_REF_JBTN_AKADEMIK</td>
                            <td>@item.ID_REF_STRUKTURAL</td>
                            <td>@item.ID_REF_GOLONGAN</td>
                            <td>@item.ID_REF_FUNGSIONAL</td>
                            <td>@item.ID_REF_JENJANG</td>
                            <td>@item.NAMA_TARIF_PAYROLL</td>
                            <td data-id="@item.ID_MST_TARIF_PAYROLL" class="editable-cell" title="Edit">@item.NOMINAL</td>
                            <td>@item.JENIS</td>
                            <td>@item.JENJANG_KELAS</td>
                            <td>@item.ID_KOMPONEN_GAJI</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model.KelolaTarifList != null && Model.KelolaTarifList.Any())
        {
            <button id="updateBtn" class="btn btn-success mt-3">Simpan</button>
        }

    </div>

</body>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        var updatedData = [];

        $(document).ready(function () {

            //Untuk membuat cell atau column di tabel bisa di edit
            $(".editable-cell").dblclick(function () {
                var originalValue = $(this).text();
                $(this).html(`<input type='text' value='${originalValue}' />`);
                $(this).addClass('active'); // Tambahkan kelas "active" saat sel aktif
                $(this).children().first().focus();
            });

            // Untuk mengupdate data column
            // $("body").on("blur", ".editable-cell > input", function () {
            //     var value = $(this).val();
            //     var cell = $(this).parent();
            //     cell.html(value);
            //     cell.removeClass('active'); // Hapus kelas "active" saat sel tidak aktif
            //     var id = cell.attr('data-id');
            //     updatedData.push({
            //         ID_VAKASI: id,
            //         JUMLAH: value
            //     });
            // });



            // Untuk melakukan update menggunakan ajax
            // $("#updateBtn").click(function () {
            //     console.log(updatedData);
            //     $.ajax({
            //         url: '/BebanMengajarAsisten/UpdateBebanMengajarAsisten',
            //         type: 'POST',
            //         contentType: 'application/json',
            //         data: JSON.stringify(updatedData),
            //         success: function (response) {
            //             if (response.status) {
            //                 alert('Data berhasil diupdate');
            //                 location.reload();
            //             } else {
            //                 alert('Data gagal diupdate');
            //             }
            //         }
            //     });
            // });


            //⚠️ Untuk menampilkan Total Perhitungan ⚠️
            // $('#dataTable tbody tr').each(function () {
            //     var jumlah = $(this).find(".editable-cell").text();
            //     var tarif = $(this).children().eq(6).text();
            //     var totalPerhitungan = parseInt(jumlah) * parseInt(tarif);
            //     $(this).children().eq(7).text(totalPerhitungan);
            // });



            //⚠️ Untuk melakukan insert dalam database menggunakan ajax ⚠️
            // $("#btnTambah").click(function (event) {
            //     event.preventDefault(); //

            //     var formData = {
            //         NPP: $("#NPP").val(),
            //         ID_BULAN_GAJI: $("#bulanGajiDropdown").val(),
            //         JUMLAH: $("#JUMLAH").val(),
            //         DESKRIPSI: $("#DESKRIPSI").val()
            //     };

            //     $.ajax({
            //         url: '/BebanMengajarAsisten/InsertBebanMengajarAsisten',
            //         type: 'POST',
            //         contentType: 'application/json',
            //         data: JSON.stringify(formData),
            //         success: function (response) {
            //             if (response.status) {
            //                 alert('Data berhasil ditambahkan');
            //                 location.reload();
            //             } else {
            //                 alert('Data gagal ditambahkan');
            //             }
            //         }
            //     });
            // });

            $('#dataTable').DataTable({
                "pageLength": 20, // Menampilkan 10 baris per halaman
                "lengthChange": false, // Sembunyikan dropdown untuk mengubah jumlah baris per halaman
                "info": true, // Tampilkan info jumlah total baris
                "pagingType": "full_numbers", // Tampilkan navigasi paginasi lengkap
                "language": {
                    "search": "Cari:",
                    "paginate": {
                        "first": "Awal",
                        "last": "Akhir",
                        "next": ">",
                        "previous": "<"
                    }
                }
            });

        });


    </script>
}
