@model BebanMengajarDosenModel.BebanMengajarDosenViewModel

@{
    int counter = 0;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beban Mengajar Dosen</title>
    <!-- Referensi ke DataTables dan Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .editable-cell:hover {
            cursor: pointer; /* Ubah penunjuk mouse menjadi tangan (pointer) saat dihover */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="my-4">Beban Mengajar Dosen</h1>

        <div class="row">
            <!-- Sub-container untuk Tambah Beban Mengajar -->
            <div class="col-md-6 border border-5 p-3 mb-4 mt-3">
                <h3 style="padding-bottom: 25px;">
                    Tambah Beban Mengajar
                </h3>
                <form id="bebanMengajarForm" method="post" action="@Url.Action("InsertBebanMengajar", "BebanMengajarDosen")">
                    <div class="mb-3">
                        <label for="NPP" class="form-label">NPP</label>
                        <input type="text" class="form-control" id="NPP" name="NPP">
                    </div>

                    <div class="mb-3">
                        <label for="ID_TAHUN_AKADEMIK" class="form-label">ID TAHUN AKADEMIK</label>
                        <input type="text" class="form-control" id="ID_TAHUN_AKADEMIK" name="ID_TAHUN_AKADEMIK">
                    </div>

                    <div class="mb-3">
                        <label for="NO_SEMESTER" class="form-label">NO SEMESTER</label>
                        <input type="text" class="form-control" id="NO_SEMESTER" name="NO_SEMESTER">
                    </div>

                    <div class="mb-3">
                        <label for="TOTAL_SKS" class="form-label">JUMLAH</label>
                        <input type="number" class="form-control" id="TOTAL_SKS" name="TOTAL_SKS">
                    </div>
                    <button id="btnTambah" class="btn btn-primary">Tambah</button>
                </form>
            </div>

            <!-- Sub-container untuk Pencarian berdasarkan NPP dan Tahun -->
            <div class="col-md-6 border border-5 p-3 mb-4 mt-3">
                <h3 style="padding-bottom: 15px;">
                    Pencarian
                </h3>
                <form id="searchForm" method="get" action="@Url.Action("Index", "BebanMengajarDosen")">
                    <div>
                        <h3>Cari Berdasarkan NPP</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="NPPFilter" name="NPPFilter" value="@Model.NPPFilter" placeholder="Masukkan NPP">
                        </div>
                    </div>

                    <div>
                        <h3>Cari Berdasarkan Tahun</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="TAHUNFilter" name="TAHUNFilter" value="@Model.TAHUNFilter" placeholder="Masukkan Tahun">
                        </div>
                    </div>

                    <div>
                        <h3>Cari Berdasarkan NAMA</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="NAMAFilter" name="NAMAFilter" value="@Model.NAMAFilter" placeholder="Masukkan NAMA">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Cari</button>
                </form>
            </div>
        </div>

        <!-- Tabel data beban mengajar -->
        <table class="table mt-3" id="dataTable">
            <thead style="background-color: #8FA0C7">
                <tr>
                    <th>NO</th>
                    <th>NAMA</th>
                    <th>NPP</th>
                    <th>TAHUN SEMESTER</th>
                    <th>BEBAN GELAR</th>
                    <th>JUMLAH</th>
                    <th>TARIF</th>
                    <th>TOTAL PERHITUNGAN</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BebanMengajarDosenList != null)
                {
                    @foreach (var item in Model.BebanMengajarDosenList)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@item.NAMA</td>
                            <td>@item.NPP</td>
                            <td>@item.ID_TAHUN_AKADEMIK</td>
                            <td>@item.BEBAN_GELAR</td>
                            <td data-id="@item.ID_BEBAN_MENGAJAR" class="editable-cell" title="Edit">@item.TOTAL_SKS</td>
                            <td>@item.TARIF</td>
                            <td class="total-perhitungan">0</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model.BebanMengajarDosenList != null && Model.BebanMengajarDosenList.Any())
        {
            <button id="updateBtn" class="btn btn-success mt-3">Simpan</button>
        }

    </div>

</body>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        var updatedData = [];

        $(document).ready(function () {
            $(".editable-cell").dblclick(function () {
                var originalValue = $(this).text();
                $(this).html(`<input type='text' value='${originalValue}' />`);
                $(this).children().first().focus();
            });

            $("body").on("blur", ".editable-cell > input", function () {
                var value = $(this).val();
                var cell = $(this).parent();
                cell.html(value);

                var id = cell.attr('data-id');
                updatedData.push({
                    ID_BEBAN_MENGAJAR: id,
                    TOTAL_SKS: value
                });
            });

            // Untuk melakukan update menggunakan ajax
            $("#updateBtn").click(function () {
                console.log(updatedData);
                $.ajax({
                    url: '/BebanMengajarDosen/UpdateBebanMengajar',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(updatedData),
                    success: function (response) {
                        if (response.status) {
                            alert('Data berhasil diupdate');
                            location.reload();
                        } else {
                            alert('Data gagal diupdate');
                        }
                    }
                });
            });

            //Untuk menampilkan Total Perhitungan   
            $('#dataTable tbody tr').each(function () {
                var totalSKS = $(this).find(".editable-cell").text();
                var tarif = $(this).children().eq(6).text();
                var totalPerhitungan = parseInt(totalSKS) * parseInt(tarif);
                $(this).children().eq(7).text(totalPerhitungan);
            });

            //Untuk melakukan insert dalam database menggunakan ajax
            $("#btnTambah").click(function (event) {
                event.preventDefault(); // 

                var formData = {
                    NPP: $("#NPP").val(),
                    ID_TAHUN_AKADEMIK: $("#ID_TAHUN_AKADEMIK").val(),
                    NO_SEMESTER: $("#NO_SEMESTER").val(),
                    TOTAL_SKS: $("#TOTAL_SKS").val()
                };

                $.ajax({
                    url: '/BebanMengajarDosen/InsertBebanMengajar',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (response.status) {
                            alert('Data berhasil ditambahkan');
                            location.reload();
                        } else {
                            alert('Data gagal ditambahkan');
                        }
                    }
                });
            });

            $('#dataTable').DataTable({
                "pageLength": 20, // Menampilkan 10 baris per halaman
                "lengthChange": false, // Sembunyikan dropdown untuk mengubah jumlah baris per halaman
                "info": true, // Tampilkan info jumlah total baris
                "pagingType": "full_numbers", // Tampilkan navigasi paginasi lengkap
                "language": {
                    "search": "Cari:",
                    "paginate": {
                        "first": "Awal",
                        "last": "Akhir",
                        "next": ">",
                        "previous": "<"
                    }
                }
            });

        });

       
    </script>

}



